.item-name {
    float: left;
    text-align: left;
    font-weight: 700;
    font-size: 14px;
}

.item-type {

    /* position: "relative"; */
    margin-top: 23px;
    /* height: 100px; */

}

.content {
    /* position: relative; */
  }

.content div {
    /* position: relative; */
    float: left;
    text-align: left;
    margin-top: 0px;
}

.notes-break {
    background-color: "grey";
    color: "grey";
    width: 90%;
    margin-left: 12px;
    margin-top: 19px;
    /* position: relative; */
}

.notes-tags {
    align-items: flex-start;
    text-align: left;
}

.notes-tags span {
    float: left;
    margin-right:2px;
    margin-top: 10px;
}

.tags {
    float: left;
    text-align: left;
    font-weight: 700;
    margin-top: 5px;
}

.tags  a {
 float: right;
}

.tags-display {
    margin-top: 8px;
    padding: 10px;
}

.tags-form {
    display: inline-flex;
}

.tags-form-grp {
    margin:10px;
}

.tags-form-btn {
    margin: 10px;
}